.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Local test dependencies and generated reports
/vendor/
/node_modules/
/build/
/.phpunit.result.cache

# Local documents
/.localDocs/
/bga-framework.d.ts
/_ide_helper.php
