/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * TheWalkingDeck implementation : © <Cedor> <cedordev@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * thewalkingdeck.css
 *
 * TheWalkingDeck stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (thewalkingdeck_thewalkingdeck.tpl), and to HTML elements you create dynamically
    (in thewalkingdeck.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#table_organiser {
  position: relative;
  width: max-content;
  display: grid;
  grid-auto-columns: auto;
}

#memory_wrap {
  grid-column: 1;
  grid-row: 2;
}

#escaped_wrap {
  grid-column: 3;
  grid-row: 1;
}

#ressources_wrap {
  grid-column: 4;
  grid-row: 1;
}

#deck_rural_wrap {
  grid-column: 1;
  grid-row: 1;
}

#deck_urban_wrap {
  grid-column: 2;
  grid-row: 1;
}

#protagonist_wrap {
  grid-column: 2;
  grid-row: 2;
}

#graveyard_wrap {
  grid-column: 3;
  grid-row: 2;
}

.location-wrap {
  width: 179px;
  height: 230px;
}

#escaped .twd-card {
  transform: rotate(-90deg);
}

.twd-deck {
  position: relative;
  width: 127px;
  height: 179px;
}

.twd-card {
  display: inline-block;
  position: relative;
  width: 127px;
  height: 179px;
}

.twd-card-front {
  background: url("img/sprite_sheet.png");
}

.twd-card-back {
  background: url("img/sprite_sheet.png");
  background-position: -508px -358px;
}

.twd-card-back-rural {
  background: url("img/sprite_sheet.png");
  background-position: -635px -358px;
}

.twd-card-back-urban {
  background: url("img/sprite_sheet.png");
  background-position: -762px -358px;
}

/* ressources */
.twd-ressources-slot {
  width: 90px;
  height: 90px;
}

.twd-ressource-back,
.twd-ressource-front {
  background: url("img/ressources.png");
  background-size: 276px 184px;
}

.twd-ressource-front[data-id="ressource1"] {
  background-position-x: 0px;
  background-position-y: 0px;
}

.twd-ressource-front[data-id="ressource2"] {
  background-position-x: -184px;
  background-position-y: 0px;
}

.twd-ressource-front[data-id="ressource3"] {
  background-position-x: -368px;
  background-position-y: 0px;
}

.twd-ressource-back[data-id="ressource1"] {
  background-position-x: 0px;
  background-position-y: -92px;
}

.twd-ressource-back[data-id="ressource2"] {
  background-position-x: -184px;
  background-position-y: -92px;
}

.twd-ressource-back[data-id="ressource3"] {
  background-position-x: -368px;
  background-position-y: -92px;
}

#disasters_organiser {
  position: relative;
  width: max-content;
  display: grid;
  grid-auto-columns: auto;
}

#disasters_reserve{
  grid-column: 1;
  grid-row: 1;
}
#disasters_bag{
  grid-column: 2;
  grid-row-start: 1 ;
  grid-row-end: 3;
}
#disasters_drawn_slot{
  grid-column: 1;
  grid-row: 2;
}
.twd-disasters-bag{
  width: 142px;
  height: 171px;
  /*border: 2px solid red;*/
  background: url("img/sac.png");
  background-size: 142px 171px;
}
.twd-disaster-back,
.twd-disaster-front{
  background: url("img/disasters.png");
  background-size: 617px 88px;
  size: 88px 88px;
}
.twd-disaster-front[data-id="1"] {
  background-position-x: 0px;
  background-position-y: 0px;
}
.twd-disaster-front[data-id="2"] {
  background-position-x: -88px;
  background-position-y: 0px;
}
.twd-disaster-front[data-id="3"] {
  background-position-x: -176px;
  background-position-y: 0px;
}
.twd-disaster-front[data-id="4"] {
  background-position-x: -264px;
  background-position-y: 0px;
}
.twd-disaster-front[data-id="5"] {
  background-position-x: -352px;
  background-position-y: 0px;
}
.twd-disaster-front[data-id="6"] {
  background-position-x: -440px;
  background-position-y: 0px;
}
.twd-disaster-back,
.twd-disaster-front[data-id="7"] {
  background-position-x: -528px;
  background-position-y: 0px;
}